body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {

}

.sectiontwo {

}

.sectionthree {

}

.sectionfour {

}

footer {

}

header footer {
    background-color: #1F2937;
}