body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {

}

.sectiontwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgsurround {
    display: flex;
    gap: 10px;
}

.sectiontwo img {
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.sectionthree {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: 18px;
    font-weight: bold;
}

.surroundfour {
    margin: 10px;
}

.sectionfour {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
}

footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a,header p {
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 12px;
}