body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {

}

.sectiontwo {

}

.sectionthree {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}

.author {
    
}

.sectionfour {

}

footer {

}

header,footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a,header p {
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
}